# Fill value and rename this file to .env
PUBLIC_DOMAIN_URL=https://bank.green
PUBLIC_DATA_URL=https://data.bank.green/graphql
PUBLIC_EMBRACE_URL=
PUBLIC_GPE_URL=
PUBLIC_STRIPE_PUBLISHABLE_KEY=
PRIVATE_STRIPE_SECRET_KEY=
PRIVATE_STRIPE_SUBSCRIPTION_PRICE_1=
PRIVATE_STRIPE_SUBSCRIPTION_PRICE_2=
PRIVATE_STRIPE_SUBSCRIPTION_PRICE_3=
PRIVATE_STRIPE_SUBSCRIPTION_PRICE_4=
PRIVATE_STRIPE_SUBSCRIPTION_PRICE_5=
PRIVATE_STRIPE_SUBSCRIPTION_PRICE_6=
NUXT_PUBLIC_HCAPTCHA_SITEKEY=
