@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src:
    url("../public/fonts/poppins/Poppins-Thin.ttf") format("truetype"),

}

@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src:
    url("../public/fonts/poppins/Poppins-ThinItalic.ttf") format("truetype"),

}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src:
    url("../public/fonts/poppins/Poppins-ExtraLight.ttf") format("truetype"),

}

@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src:
    url("../public/fonts/poppins/Poppins-ExtraLightItalic.ttf") format("truetype"),

}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src:
    url("../public/fonts/poppins/Poppins-Light.ttf") format("truetype"),

}

@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src:
    url("../public/fonts/poppins/Poppins-LightItalic.ttf") format("truetype"),

}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url("../public/fonts/poppins/Poppins-Regular.ttf") format("truetype"),

}

@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src:
    url("../public/fonts/poppins/Poppins-Italic.ttf") format("truetype"),

}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    url("../public/fonts/poppins/Poppins-Medium.ttf") format("truetype"),

}

@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src:
    url("../public/fonts/poppins/Poppins-MediumItalic.ttf") format("truetype"),

}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:
    url("../public/fonts/poppins/Poppins-SemiBold.ttf") format("truetype"),

}

@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src:
    url("../public/fonts/poppins/Poppins-SemiBoldItalic.ttf") format("truetype"),

}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    url("../public/fonts/poppins/Poppins-Bold.ttf") format("truetype"),

}

@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src:
    url("../public/fonts/poppins/Poppins-BoldItalic.ttf") format("truetype"),

}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src:
    url("../public/fonts/poppins/Poppins-ExtraBold.ttf") format("truetype"),

}

@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src:
    url("../public/fonts/poppins/Poppins-ExtraBoldItalic.ttf") format("truetype"),

}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src:
    url("../public/fonts/poppins/Poppins-Black.ttf") format("truetype"),

}

@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src:
    url("../public/fonts/poppins/Poppins-BlackItalic.ttf") format("truetype"),

}




/* @font-face {
  font-family: "Poppins var";
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("/fonts/inter/Inter.var.Latin.woff2") format("woff2");
} */

/* @font-face {
  font-family: "Inter var";
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: "Italic";
  src: url("/fonts/inter/Inter-italic.var.Latin.woff2") format("woff2");
} */


/* @font-face {
  font-family: "Inter var experimental";
  font-weight: 100 900;
  font-display: swap;
  font-style: oblique 0deg 10deg;
  src: url("/fonts/inter/Inter.var.Latin.woff2") format("woff2");
} */