name: Build and Deploy Main

on:
  push:
    branches: [main]
    # Trigger every day
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
      NUXT_APP_ENV: production
      NUXT_IMAGE_PROVIDER: prismic
      PUBLIC_DOMAIN_URL: https://bank.green
      NUXT_PUBLIC_CLOUDFLARE_CAPTCHA_SITEKEY: ${{ secrets.CAPTCHA_SITEKEY }}
      PUBLIC_EMBRACE_URL: https://embrace-django.bank.green/api
      ZAPIER_CONTACT: ${{ secrets.ZAPIER_CONTACT }}
      ZAPIER_OTHER_SUBMIT: ${{ secrets.ZAPIER_OTHER_SUBMIT }}
      NUXT_PUBLIC_ACTIVE_CAMPAIGN_API_KEY: ${{ secrets.ACTIVE_CAMPAIGN_KEY }}
      NUXT_PUBLIC_ACTIVE_CAMPAIGN_URL: ${{ secrets.ACTIVE_CAMPAIGN_URL }}
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '22.x'
      - run: npm ci
      - run: npm i -g wrangler
      - run: npm run build
      - run: npm run deploy
