name: Build and Deploy Main

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
      NUXT_APP_ENV: production
      NUXT_IMAGE_PROVIDER: prismic
      PUBLIC_DOMAIN_URL: https://bank.green
      PUBLIC_STRIPE_PUBLISHABLE_KEY: ${{ secrets.PUBLIC_STRIPE_PUBLISHABLE_KEY }}
      PRIVATE_STRIPE_SECRET_KEY: ${{ secrets.PRIVATE_STRIPE_SECRET_KEY }}
      PRIVATE_STRIPE_SUBSCRIPTION_PRICE_1: ${{ secrets.PRIVATE_STRIPE_SUBSCRIPTION_PRICE_1 }}
      PRIVATE_STRIPE_SUBSCRIPTION_PRICE_2: ${{ secrets.PRIVATE_STRIPE_SUBSCRIPTION_PRICE_2 }}
      PRIVATE_STRIPE_SUBSCRIPTION_PRICE_3: ${{ secrets.PRIVATE_STRIPE_SUBSCRIPTION_PRICE_3 }}
      PRIVATE_STRIPE_SUBSCRIPTION_PRICE_4: ${{ secrets.PRIVATE_STRIPE_SUBSCRIPTION_PRICE_4 }}
      PRIVATE_STRIPE_SUBSCRIPTION_PRICE_5: ${{ secrets.PRIVATE_STRIPE_SUBSCRIPTION_PRICE_5 }}
      PRIVATE_STRIPE_SUBSCRIPTION_PRICE_6: ${{ secrets.PRIVATE_STRIPE_SUBSCRIPTION_PRICE_6 }}
      NUXT_PUBLIC_CLOUDFLARE_CAPTCHA_SITEKEY: ${{ secrets.CAPTCHA_SITEKEY }}
      NUXT_PUBLIC_CLOUDFLARE_CAPTCHA_SECRET: ${{ secrets.CAPTCHA_SECRET}}
      PUBLIC_EMBRACE_URL: https://embrace-django.bank.green/api
      ZAPIER_CONTACT: ${{ secrets.ZAPIER_CONTACT }}
      ZAPIER_OTHER_SUBMIT: ${{ secrets.ZAPIER_OTHER_SUBMIT }}
      NUXT_PUBLIC_ACTIVE_CAMPAIGN_API_KEY: ${{ secrets.ACTIVE_CAMPAIGN_KEY }}
      NUXT_PUBLIC_ACTIVE_CAMPAIGN_URL: ${{ secrets.ACTIVE_CAMPAIGN_URL }}
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "18.x"
      - run: npm ci
      - run: npm i -g wrangler
      - run: npm run build
      - run: npm run publish